<div id="error-404" class="page-layout {% if search.performed %}search-performed{% endif %}">

  <div class="page-info">
    <h1 class="page-title">{{ 'general.404.title' | t }}</h1>
    <p class="page-text">{{ 'general.404.error_code' | t }}</p>
  </div>

  <div class="search-form-area">
    {% assign search_label = 'general.404.title' | t %}
    {% include 'search-form' with label: search_label %}

    <a href="/" class="button">
      {{ 'general.404.back' | t }}
    </a>
  </div>
</div>
