<div id="page-menu">
  <div class="menu-contents">
    {% include 'header' %}

    <div class="wrapper">
      {% include 'nav-list', handle: 'main-menu', class: 'menu-nav-list' %}
    </div>

    {% include 'footer' %}
  </div>
</div>
