#header-global {
  width: 100%;
  height: $header-height;
  position: fixed;
  top: 0;
  padding: $line-global $offset-global;
  @include flex-space-between;
  z-index: 100;

  transition: all 0.3s ease;

  .menu-link {
    cursor: pointer;
  }

  .menu-close-text {
    display: none;
  }
}

.header-nav-list {
  display: inline-block;
  li {
    display: block;
    &:not(:first-of-type) {
      margin-left: $line-global;
    }
  }
}

.header-right {
  > * {
    display: inline-block;
    &:not(:first-child) {
      margin-left: $line-global;
    }
  }
}

.cart-link {

  .cart-item-count {
    display: inline-block;
    background-color: $white;
    min-width: $line-global;
    height: $line-global;
    padding: 0 $line-global;
    text-align: center;
    font-family: $text-font;
    color: $black;
    border: $standard-border;
  }
}

#header-mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  #header-global {
    height: auto;

    .header-right {
      margin-top: $line-global;
      text-align: right;
      > * {
        &:not(:first-child) {
          margin-left: $line-global/2;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #header-global {
    padding: $line-global/2 $line-global;

    flex-direction: column;
    align-items: flex-end;
  }

  .header-right {
    display: none;
  }

  #header-mobile {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;

    padding: $line-global/2 $line-global;
    background: $black;
    border: $standard-border;

    z-index: 100;

    .menu-link {
      cursor: pointer;
    }

    .menu-close-text {
      display: none;
    }


  }
}
