$slider-button-size: 70px;
.slider-button {
  @include reset-input;
  font-size: $slider-button-size;
  width: $slider-button-size;
  height: $slider-button-size;
  line-height: $slider-button-size;
  text-align: center;
  color: $light-white;
  position: absolute;
  bottom: 0;
  margin-top: -($slider-button-size);
  z-index: 1;
  overflow: hidden;

  transition: all 0.3 ease;

  &:hover {
    color: $white;
  }

  &.prev {
    left: 0;
  }

  &.next {
    right: 0;
  }
}
