<div id="page" class="valign-center">

  <div class="marquee-wrap">
    <div class="marquee-inner">
      <h3> black + woman owned &mdash; black + woman owned &mdash; black + woman owned &mdash; black + woman owned &mdash; black + woman owned </h3>
    </div>
  </div>

  <div class="page-inner">
    <div class="page-content">{{ page.content }}</div>
  </div>

  {% section 'content' %}
</div>
