<div id="page" class="wrapper valign-center">
  <div class="page-inner">
    <h3 class="page-title">{{ page.title }}</h3>
    <div class="page-content">{{ page.content }}</div>
  </div>

  <a title="back to the top" id="scroll-to-top">
    {% include 'inline-icon' with svg: 'icon-chevron-up.svg', class: 'current-color-stroke' %}
  </a>
</div>
