<div id="page" class="valign-center">

  <div class="marquee-wrap">
    <div class="marquee-inner">
      <div class="marquee-content h3">black + woman owned &mdash; black + woman owned &mdash;  black + woman owned</div>
      <div class="marquee-content h3 second-line">black + woman owned &mdash; black + woman owned</div>
    </div>
  </div>

  <div class="page-inner">
    <div class="page-content">{{ page.content }}</div>

    {% section 'gallery' %}
  </div>
</div>
