<div id="page-search" class="wrapper page-layout {% if search.performed %}search-performed{% endif %}">

  <div class="page-info">
    <h1 class="page-title">{{ 'search.title' | t }}</h1>
  </div>

  <div class="search-form-area">
    <div id="search-form-wrap" class="grid">
      {% include 'search-form' %}
    </div>

    {% if search.performed %}
      <div id="search-results">
        <div class="results-inner">
          {% assign product_count = 0 | times: 1 %}
          {% for item in search.results %}
            {% if item.object_type == 'product' %}
              {% assign product_count = product_count | plus: 1%}
            {% endif %}
          {% endfor %}

          {% if product_count > 0 %}
            {% assign filled_singular = 'search.results.filled_singular' | t %}
            {% assign filled_plural = 'search.results.filled_plural' | t %}
            <h3>{{ product_count }} {{ product_count | pluralize: filled_singular, filled_plural }}</h3>

            <div class="results-grid grid two-columns">
              {% for item in search.results %}
                {% if item.object_type == 'product' %}
                  {% include 'product-card' with product: item %}
                {% endif %}
              {% endfor %}
            </div>

          {% else %}
            <h5>{{ 'search.results.empty' | t: searchTerms: search.terms }}</h5>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
