#page-collection {

  position: relative;

  #collection-image {
    height: 33vh;
    min-height: 250px;
    max-height: 800px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .collection-content {
    padding-top: $header-height;
  }

  .page-title {
    text-align: right;
  }

  .collection-description {
    margin-bottom: $line-global/2;
  }

  .product-wrap {
    grid-template-columns: repeat(10, 1fr);
    margin-top: -50px;
  }

  .product-card {
    grid-column: span 2;
  }

  .collection-description {
    margin-top: $line-global;
  }

  .collection-sorting {
    background-color: $white;
    color: $black;

    position: fixed;
    bottom: $offset-global;
    left: $offset-global;

    border: $standard-border;
    padding: $line-global/2 $line-global;
    z-index: 1;

    > * {
      display: inline-block;
      &:not(:first-child) {
        margin-left: $line-global;
      }
    }

    .sorting-title {
      font-family: $headline-font;
      text-transform: uppercase;
      margin-right: $line-global;
    }

    .text-link {
      font-family: $text-font;
      color: $black;
    }

    li {
      display: inline-block;
      margin-right: $line-global;
    }
  }
}

@media screen and (max-width: 1300px) {
  #page-collection {
    .product-wrap {
      grid-template-columns: repeat(8, 1fr);
    }
  }
}

@media screen and (max-width: 800px) {
  #page-collection {
    .product-wrap {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media screen and (max-width: 500px) {
  #page-collection {
    .product-wrap {
      grid-template-columns: repeat(2, 1fr);
    }

    .page-title {
      h1 {
        font-size: $type-headline-lg;
      }
    }

    .collection-sorting {
      display: none;
    }
  }
}
