#page {
  padding-top: $header-height+$line-global;

  .page-inner {
    margin: 0 auto;

    .social-display-wrap {
      margin-top: $offset-global;
    }
  }

  .page-content {
    margin-top: $offset-global;
    width: 100%;
    max-width: 645px;
  }

  .contact-form-contents {
    margin-bottom: $header-height;

    .display-title {
      margin-bottom: 0;
    }

    .page-content {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  #page {
    padding-top: $header-height;
    .page-content {
      padding: 0 ($line-global/2);
    }
  }
}
