#page-product {
  #product-top {
    padding-top: $header-height + $line-global;
    padding-bottom: $offset-global;
    grid-template-columns: repeat(12, 1fr);
    align-items: flex-start;
  }

  .product-images {
    grid-column: 3/6;
    position: relative;
  }

  .slider-button {
    &.prev {
      left: auto;
      right: 100%;
      margin-right: $line-global;
    }
    &.next {
      right: auto;
      left: 100%;
      margin-left: $line-global;
    }
  }

  .single-image:not(:first-of-type) {
    display: none;
  }

  .image-counter {
    text-align: right;
    margin-top: $line-global/4;
    color: $text-color-white;
  }

  .product-actions {
    grid-column: 7/11;
  }

  .breadcrumb {
    text-transform: uppercase;
    font-size: $type-body-meta;
    color: $light-white;

    margin-bottom: $line-global;

    a {
      color: $light-white;

      &:hover {
        color: $white;
      }
    }
  }

  .product-title {
    margin-top: $line-global;
  }

  #add-to-cart-form {
    margin-top: $line-global;
  }

  .product-option-row {
    padding: ($line-global/2) 0;
    border-top: $standard-border;
    @include flex-space-between;
    &:last-of-type {
      border-bottom: $standard-border;
    }
  }

  .styled-select {
    select {
      text-align-last: right;
      &:not(:hover) {
        color: $light-white;
      }
    }
  }

  .variant-radio {
    @extend .visually-hidden;

    & + label {
      display: inline-block;
      cursor: pointer;
      color: $text-color;
    }

    &:checked + label {
      color: $black;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:not(:first-of-type) {
      & + label {
        margin-left: $line-global/4;
      }
    }
  }

  #add-to-cart-button {
    margin-top: $line-global;
  }

  #product-bottom {
    padding-top: $offset-global;
    padding-bottom: $line-global*3;
    grid-template-columns: repeat(12, 1fr);
    background-color: $white;
  }

  .info-section {
    h3 {
      margin-bottom: $line-global;
    }
  }

  .description {
    margin-top: $line-global/2;
  }

  .shipping,
  .returns {
    color: $text-color;
  }

  .shipping {
    grid-column: 3/7;
  }

  .returns {
    grid-column: 7/11;
  }
}

@media screen and (max-width: 1300px) {
  #page-product {

    .product-images {
      grid-column: 2/6;
    }

    .product-actions {
      grid-column: 7/12;
    }

    #product-bottom {
      grid-template-rows: repeat(2, auto);
    }

    .shipping,
    .returns {
      grid-column: 2/11;
    }

    .shipping {
      grid-row: 1;
    }

    .returns {
      grid-row: 2;
    }
  }
}

@media screen and (max-width: 800px) {
  #page-product {
    #product-top {
      grid-template-rows: repeat(2, auto);
    }

    .product-images,
    .product-actions {
      grid-column: 2/12;
    }

    .product-images {
      grid-row: 1;
    }

    .product-actions {
      grid-row: 2;
    }
  }
}

@media screen and (max-width: 500px) {
  #page-product {

    #product-top,
    #product-bottom {
      grid-template-columns: repeat(4, 1fr);
    }

    .product-images,
    .product-actions,
    .shipping,
    .returns {
      grid-column: span 4;
    }
  }

}
